{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "printWidth": 80,
  "quoteProps": "preserve",
  "plugins": ["prettier-plugin-tailwindcss"]
}
